@media (max-width:1200px){

   
    main{
        background-image: none;
         max-width: 400px;
    
   }

   header img{
        width: 200px;
   }

   .principal{
        display: grid;
        justify-content: center;
        padding: 10px;
   }

   .principal h1{
        font-size: 2em;
   }
   .resp{
        max-width: 400px;
   }

   .img{
    margin-left:175px;
    cursor: pointer;
}

    .btn{
        margin-left: 120px;
        padding: 20px 70px;
        border-radius: 30px;
        box-shadow: 2px 2px 2px black;
        color: hsl(257, 40%, 49%);
        cursor: pointer;
    }

    .attribution { 
        margin-top: 20px;
    }
    
}